<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.olocat.nsims.mapper.DepartmentMapper">
	<sql id="table">im_department</sql>
	<select id="getDepartmentList" resultType="com.olocat.nsims.pojo.information.Department">
		select * from <include refid="table"/>
	</select>
</mapper>