<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.olocat.nsims.mapper.DoctorMapper">
	<sql id="table">ps_doctor</sql>
	<sql id="basic">doctorID,name,gender,age,phoneNumber,departmentID,level</sql>
	<select id="getDoctorList" resultType="com.olocat.nsims.pojo.person.Doctor">
		select
		<include refid="basic"/>
		 from <include refid="table"/> limit 15
	</select>
	<select id="getDoctorByID" parameterType="String" resultType="com.olocat.nsims.pojo.person.Doctor">
		select <include refid="basic"/> from <include refid="table"/>
		<where>
			doctorID=#{value}
		</where>
		limit 1
	</select>
	<update id="updateDoctor" parameterType="com.olocat.nsims.pojo.person.Doctor">
		update <include refid="table"/>
		<set>
			<if test="name != null and name != '' ">
				name=#{name},
			</if>
			<if test="gender != null and gender != '' ">
				gender=#{gender},
			</if>
			<if test="age != null and age != '' ">
				age=#{age},
			</if>
			<if test="phoneNumber != null and phoneNumber != '' ">
				phoneNumber=#{phoneNumber},
			</if>
			<if test="departmentID != null and departmentID != '' ">
				departmentID=#{departmentID},
			</if>
			<if test="level != null and level != ''">
				level=#{level}
			</if>
		</set>
		where doctorID=#{doctorID}
	</update>
	<insert id="addDoctor" parameterType="com.olocat.nsims.pojo.person.Doctor">
		insert into
		<include refid="table"/>
		value(
		#{doctorID},
		#{name},
		#{gender},
		#{age},
		#{phoneNumber},
		#{departmentID},
		#{level}
		)
	</insert>
	<delete id="deleteDoctorByID" parameterType="String">
		delete from <include refid="table"/>
		<where>
			doctorID=#{value}
		</where>
	</delete>
</mapper>